## **Data Science Project** , 
**Pandas Assesment** , 
**Wisdom Alawode Olabowale**

In [1]:
#Importing necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#Reading the data with pandas 

student_data = pd.read_csv("StudentsPerformance.csv")

In [4]:
#Displaying the last 10 rows

student_data.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [5]:
#Displaying the last 10 rows

student_data.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:

#Checking the dataset overview

student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
#checking the shape of the dataset

student_data.shape

(1000, 8)

In [10]:
#listing all columns in the  dataset

student_data.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [11]:
#Identifying if the column is numerical or categorical

for col in student_data.columns:
  if student_data[col].dtype in ["int64", "float64"]:
    print(f"{col} is numerical")
  else:
    print(f"{col} is categorical")

gender is categorical
race/ethnicity is categorical
parental level of education is categorical
lunch is categorical
test preparation course is categorical
math score is numerical
reading score is numerical
writing score is numerical

In [9]:
#Displaying the descriptive statistics of the numerical columns

for col in student_data.columns:
  if student_data[col].dtype in ["int64", "float64"]:
    print(student_data[col].describe())

count    1000.00000
mean       66.08900
std        15.16308
min         0.00000
25%        57.00000
50%        66.00000
75%        77.00000
max       100.00000
Name: math score, dtype: float64
count    1000.000000
mean       69.169000
std        14.600192
min        17.000000
25%        59.000000
50%        70.000000
75%        79.000000
max       100.000000
Name: reading score, dtype: float64
count    1000.000000
mean       68.054000
std        15.195657
min        10.000000
25%        57.750000
50%        69.000000
75%        79.000000
max       100.000000
Name: writing score, dtype: float64

In [12]:
#Checking for missing values on the dataset

student_data.isna()
print(f"{student_data.isna().sum()} missing values available")

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64 missing values available

In [13]:
#selecting all the students who completed the test preparation course

condition = student_data["test preparation course"] == "completed"
completed_students = condition
print(completed_students)

0      False
1       True
2      False
3      False
4      False
       ...
995     True
996    False
997     True
998     True
999    False
Name: test preparation course, Length: 1000, dtype: bool

In [14]:
#Finding all students who scored 70 and in maths

for col in student_data["math score"]:
  if col >= 70:
    print(col)

72
90
76
71
88
78
88
74
73
70
97
81
74
75
82
77
88
71
82
79
80
72
73
76
71
73
71
79
78
79
85
98
87
70
77
99
84
75
78
79
91
88
83
87
72
82
89
87
75
74
70
71
76
88
88
73
100
77
70
82
75
81
96
72
94
79
81
71
97
80
77
76
77
78
74
82
81
74
80
87
84
83
87
86
72
88
76
92
83
80
84
73
80
75
85
89
71
80
78
70
79
99
76
88
71
88
83
85
73
73
70
81
97
88
77
76
86
78
71
90
81
80
74
99
73
71
77
83
75
71
82
82
71
90
83
76
79
72
77
75
87
80
85
73
84
74
82
80
85
71
80
87
79
73
73
77
76
85
74
88
82
87
70
84
71
84
71
74
82
86
73
75
75
70
89
78
73
79
86
81
100
79
100
72
71
77
75
84
72
77
91
83
90
71
76
80
76
73
70
79
83
81
76
74
94
95
82
79
86
76
77
76
74
71
91
79
73
85
97
75
79
81
82
78
92
72
79
79
87
77
73
74
96
92
71
91
74
81
81
77
73
71
74
92
76
84
75
85
94
82
88
95
100
100
79
75
84
71
80
86
76
74
72
74
70
85
73
77
90
74
73
80
77
73
81
73
70
81
94
85
77
93
73
77
79
75
79
87
89
93
80
98
81
76
73
96
76
91
74
81
73
87
92
81
80
81
72
87
71
79
77
84
70
78
74
76
75
72
94
77
76
91
72
89
70
70
76
87
82
73
75
90
87
72
94
77
85
78
71
74
77
73
75
74
90
91
80
71
87
82
97
75
87
81
71
97
82
78
70
82
90
80
81
71
93
86
85
88
85
73
93
88
79
70
100
91
72
74
74
70
98
70
85
77
72
78
81
82
94
75
74
72
84
92
75
100
72
75
89
78
91
81
79
78
74
81
86
88
77

In [15]:
#finding female students who scored atleast 65 in all 3 subjects

condition = (
    (student_data["gender"] == "female") & 
    (student_data["reading score"] >= 65) &
    (student_data["math score"] >= 65) &
    (student_data["writing score"] >= 65)
)

female_high_scorers = condition
print(female_high_scorers)

0       True
1       True
2       True
3      False
4      False
       ...
995     True
996    False
997    False
998     True
999     True
Length: 1000, dtype: bool